
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.table th{
    background-color:limegreen;
    position:sticky;
    top:0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.table {
    height:400px;
    overflow:scroll;
    text-align: center;
    margin-top:15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom:150px;
    margin-top: 50px;
    
}



.table table {
    border-collapse: collapse;
    text-transform: capitalize;
    width:100%;
    
}

.table tr{
    cursor: pointer;
    
}


.table tr:nth-child(even){
    background-color:lightpink;
}

.table tr:hover{
    background-color:lightgreen;
}

h1{
    background-color: lightskyblue;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
    



.heading h1{
    background-color: lightskyblue;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}



.button{
    border-style:double;
    border-radius: 10px;
    background-color: lightgreen;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    margin-top: 40px;
    margin-right: 10px;

}

.addbutton{
    display:flex;
    justify-content:space-between;
}


.addbutton input{
    background-color:pink;
    border-radius: 20px;
    border:none;
    padding:5px;
}

.editbutton{

    border-style:double;
    border-radius: 10px;
    background-color: lightgreen;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    margin-top: 40px;
    margin-right: 10px;
}


#search{
    border: none;
    border-radius: 70px;
    width:30%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:'Roboto', sans-serif; 
    background-color:limegreen;
    color:black;
    margin-top: 10px;
}




















 












